<app-carousel-about></app-carousel-about>
<p>For almost 200 years, we at DNB have been here for you.</p>
<hr>
<p>
    Humans are the DNA of DNB. Since 1822, wise minds have worked together 
    to find the best solutions for our customers. Today, DNB is much more than Norway's 
    largest bank, and a key business in the Norwegian economy. 
</p>
<p>
    We are also a leading technology company, which in ever new ways adapts us and our 
    services to the time we live in and to the future. With us, you will find a wide range 
    of career opportunities for a wide range of employees, in Norway and internationally.
</p>
<p>
    We are at the top of the world among equal companies, and take good care of the diversity 
    of people who choose to work here.
</p>
<div class="about">
    <div class="about info">
        <a href="">
            <h6>Our history</h6>
            <p>
                Over 190 years of financial<br> history, from 1822 until today.
            </p>
        </a>
    </div>
    <div class="about info">
        <a href="">
            <h6>Strategy and values</h6>
            <p>
                The customer is the driving force<br> in everything we do. Read more<br>about our
                strategy and values
            </p>
        </a>
    </div>
</div>
    
    