<hr>
<h5 class="branch">
    <a  href="http://www.dnb.no/en/about-us/offices/kontorer.html#officeMapTarget">DNB Åsane-etter avtale</a>
</h5>
<div class="contact">
    <div class="contact info">
        <h5>Address</h5>
        <p>Åsane senter</p>
        <p>5116 ULSET</p>
    </div>
    <div class="contact info">
        <h5>Opening hours</h5>
        <p>Monday:</p>
        <p>Tuesday:</p>
        <p>Wednesday:</p>
        <p>Thursday:</p>
        <p>Friday:</p>
    </div>
    <div class="contact info">
        <h5>Services</h5>
        <p>Advisory centre without cash</p>
        <p>Automated deposit machine</p>
        <p>Corporate advisor</p>
        <p>ATM</p>
        <p>Passport scaner</p>
        <p>Real estate</p>
    </div>
</div>

