<hr>
<h5>Free real-time courses!</h5>
<p>
    From 7 January 2022, real-time order depth on the Oslo Stock Exchange became free for our private customers, 
    says Bård Kittelsrud in DNB Markets. Until then, real-time prices for private customers cost 24 kroner a month, 
    the same as the Oslo Stock Exchange charges us. -In the future we will pay for this, he says. The real-time prices 
    are given both for shares and for exchange-traded funds.
</p>
<img sizes="" srcset="https://media.web.dnb.no/is/image/dnbbank/4262943">
<p>
    From Friday 7 January, we will give our private customers free real-time courses inside our new stock trading,  
    says Bård Kittelrud (Photo: Fiksdal)
</p>
<div class="courses">
    <button  class="courses info" type="button" 
        onclick="window.location.
        href='https://www.dnb.no/dnbnyheter/no/bors-og-marked/gratis-sanntidskurser'">
        Read more about real real-time
    </button>
    <button class="courses info" type="button" 
        onclick="window.location.
        href='https://www.dnb.no/markets/aksjer/aksjehandel-privat-eller-bedrift'">
        Become a customer
    </button>
</div>