<div class="app">
    <header>
        <app-imagelogo></app-imagelogo>
        <h1>DND ASA</h1>
        <h3>Annual General Meeting</h3>
    </header>
    <nav>
        <a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a> 
        <a class="button" routerLink="/about" routerLinkActive="activebutton">About</a> 
        <a class="button" routerLink="/contact" routerLinkActive="activebutton">Contact</a> 
        <a class="button" routerLink="/courses" routerLinkActive="activebutton">Courses</a>
    </nav>
    <router-outlet></router-outlet>
    <app-todos></app-todos>
    <!--<app-imagecomponent></app-imagecomponent>-->
    <app-carousel></app-carousel>
</div>