/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 570px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: grey;
}
header {
    text-align: center;
    padding: 15px;
    transition: transform .2s;
}

header:hover {
    transform: scale(1.04);
}





